<!DOCTYPE html>
<html>
  <body>
    <p>Hello</p>
  </body>
</html>

<script>
  import { inject } from '@vercel/analytics'
  inject({ mode: import.meta.env.MODE as 'development' | 'production' })
</script>
